<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Groups</h1>
        <ul>
            {% for group in public_groups %}
                <li>
                    <a href="{{ url_for('group_details', group_id=group.id) }}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if 'user_id' in session %}
            <h2>My Groups</h2>         
            <ul>
                {% for group in user_groups %}
                    <li>
                        <a href="{{ url_for('group_details', group_id=group.id) }}">{{ group.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p><a href="{{ url_for('create_group') }}">Create Group</a></p>
    </main>
</body>
</html>
