<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('games') }}">Games</a></li>
                <li><a href="{{ url_for('tournaments') }}">Tournaments</a></li>
                <li><a href="{{ url_for('groups') }}">Groups</a></li>
                <li><a href="{{ url_for('messages') }}">Messages</a></li>
                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Featured Games</h1>
        <ul>
            {% for game in featured_games %}
                <li>
                    <a href="{{ url_for('game_details', game_id=game.steam_id) }}">{{ game.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h1>Active Tournaments</h1>
        <ul>
            {% for tournament in tournaments %}
                <li>
                    <a href="{{ url_for('tournament_details', tournament_id=tournament.id) }}">{{ tournament.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
